code/Kamervragen.ConsoleApp/appsettings.development.json
code/Kamervragen.ConsoleApp/bin/Debug/net9.0/appsettings.development.json
code/Kamervragen.AppHost/appsettings.Development.json
code/Kamervragen.AppHost/appsettings.json
code/Kamervragen.Frontend/.env
/code/.vs
/code/Kamervragen.AppHost/bin/Debug/net9.0
/code/Kamervragen.AppHost/obj
/code/Kamervragen.ConsoleApp/bin/Debug/net9.0
/code/Kamervragen.ConsoleApp/obj
/code/Kamervragen.ConsoleApp/Docs
/code/Kamervragen.Domain/bin/Debug/net9.0
/code/Kamervragen.Domain/obj
/code/Kamervragen.Frontend/obj/Debug
/code/Kamervragen.Infrastructure/bin/Debug/net9.0
/code/Kamervragen.Infrastructure/obj
/code/Kamervragen.ServiceDefaults/bin/Debug/net9.0
/code/Kamervragen.ServiceDefaults/obj
/code/Kamervragen.WebApi/bin/Debug/net9.0
/code/Kamervragen.WebApi/obj
/code/Kamervragen.WebApi/appsettings.development.json
/code/Kamervragen.WebApi/appsettings.json
/.vs
/infra/modules/aisearchindex/scripts/setupRBACCosmos.ps1
