code/Kamervragen.ConsoleApp/appsettings.development.json
code/Kamervragen.ConsoleApp/bin/Debug/net9.0/appsettings.development.json
code/Kamervragen.AppHost/appsettings.Development.json
code/Kamervragen.AppHost/appsettings.json
code/Kamervragen.Frontend/.env
/code/.vs
/code/Kamervragen.AppHost/bin/Debug/net9.0
/code/Kamervragen.AppHost/obj
/code/Kamervragen.ConsoleApp/bin/Debug/net9.0
/code/Kamervragen.ConsoleApp/obj
/code/Kamervragen.ConsoleApp/Docs
/code/Kamervragen.Domain/bin/Debug/net9.0
/code/Kamervragen.Domain/obj
/code/Kamervragen.Frontend/obj/Debug
/code/Kamervragen.Infrastructure/bin/Debug/net9.0
/code/Kamervragen.Infrastructure/obj
/code/Kamervragen.ServiceDefaults/bin/Debug/net9.0
/code/Kamervragen.ServiceDefaults/obj
/code/Kamervragen.WebApi/bin/Debug/net9.0
/code/Kamervragen.WebApi/obj
/code/Kamervragen.WebApi/appsettings.development.json
/code/Kamervragen.WebApi/appsettings.json
/.vs
/infra/modules/aisearchindex/scripts/setupRBACCosmos.ps1
code/Kamervragen.AppHost/bin/Release/net9.0/Aspire.Hosting.AppHost.dll
code/Kamervragen.AppHost/bin/Release/net9.0/Aspire.Hosting.dll
code/Kamervragen.AppHost/bin/Release/net9.0/Aspire.Hosting.NodeJs.dll
code/Kamervragen.AppHost/bin/Release/net9.0/Fractions.dll
code/Kamervragen.AppHost/bin/Release/net9.0/Google.Protobuf.dll
code/Kamervragen.AppHost/bin/Release/net9.0/Grpc.AspNetCore.Server.ClientFactory.dll
code/Kamervragen.AppHost/bin/Release/net9.0/Grpc.AspNetCore.Server.dll
code/Kamervragen.AppHost/bin/Release/net9.0/Grpc.Core.Api.dll
code/Kamervragen.AppHost/bin/Release/net9.0/Grpc.Net.Client.dll
code/Kamervragen.AppHost/bin/Release/net9.0/Grpc.Net.ClientFactory.dll
code/Kamervragen.AppHost/bin/Release/net9.0/Grpc.Net.Common.dll
code/Kamervragen.AppHost/bin/Release/net9.0/HealthChecks.Uris.dll
code/Kamervragen.AppHost/bin/Release/net9.0/Humanizer.dll
code/Kamervragen.AppHost/bin/Release/net9.0/IdentityModel.dll
code/Kamervragen.AppHost/bin/Release/net9.0/IdentityModel.OidcClient.dll
code/Kamervragen.AppHost/bin/Release/net9.0/Json.More.dll
code/Kamervragen.AppHost/bin/Release/net9.0/JsonPatch.Net.dll
code/Kamervragen.AppHost/bin/Release/net9.0/JsonPointer.Net.dll
code/Kamervragen.AppHost/bin/Release/net9.0/Kamervragen.AppHost.deps.json
code/Kamervragen.AppHost/bin/Release/net9.0/Kamervragen.AppHost.dll
code/Kamervragen.AppHost/bin/Release/net9.0/Kamervragen.AppHost.exe
code/Kamervragen.AppHost/bin/Release/net9.0/Kamervragen.AppHost.pdb
code/Kamervragen.AppHost/bin/Release/net9.0/Kamervragen.AppHost.runtimeconfig.json
code/Kamervragen.AppHost/bin/Release/net9.0/KubernetesClient.dll
code/Kamervragen.AppHost/bin/Release/net9.0/Microsoft.IdentityModel.Abstractions.dll
code/Kamervragen.AppHost/bin/Release/net9.0/Microsoft.IdentityModel.JsonWebTokens.dll
code/Kamervragen.AppHost/bin/Release/net9.0/Microsoft.IdentityModel.Logging.dll
code/Kamervragen.AppHost/bin/Release/net9.0/Microsoft.IdentityModel.Tokens.dll
code/Kamervragen.AppHost/bin/Release/net9.0/Polly.Core.dll
code/Kamervragen.AppHost/bin/Release/net9.0/System.IdentityModel.Tokens.Jwt.dll
code/Kamervragen.AppHost/bin/Release/net9.0/YamlDotNet.dll
code/Kamervragen.AppHost/bin/Release/net9.0/cs/Aspire.Hosting.resources.dll
code/Kamervragen.AppHost/bin/Release/net9.0/de/Aspire.Hosting.resources.dll
code/Kamervragen.AppHost/bin/Release/net9.0/es/Aspire.Hosting.resources.dll
code/Kamervragen.AppHost/bin/Release/net9.0/fr/Aspire.Hosting.resources.dll
code/Kamervragen.AppHost/bin/Release/net9.0/it/Aspire.Hosting.resources.dll
code/Kamervragen.AppHost/bin/Release/net9.0/ja/Aspire.Hosting.resources.dll
code/Kamervragen.AppHost/bin/Release/net9.0/ko/Aspire.Hosting.resources.dll
code/Kamervragen.AppHost/bin/Release/net9.0/pl/Aspire.Hosting.resources.dll
code/Kamervragen.AppHost/bin/Release/net9.0/pt-BR/Aspire.Hosting.resources.dll
code/Kamervragen.AppHost/bin/Release/net9.0/ru/Aspire.Hosting.resources.dll
code/Kamervragen.AppHost/bin/Release/net9.0/tr/Aspire.Hosting.resources.dll
code/Kamervragen.AppHost/bin/Release/net9.0/zh-Hans/Aspire.Hosting.resources.dll
code/Kamervragen.AppHost/bin/Release/net9.0/zh-Hant/Aspire.Hosting.resources.dll
code/Kamervragen.Infrastructure/bin/Release/net9.0/Cosmos.CRTCompat.dll
code/Kamervragen.Infrastructure/bin/Release/net9.0/Kamervragen.Domain.dll
code/Kamervragen.Infrastructure/bin/Release/net9.0/Kamervragen.Domain.pdb
code/Kamervragen.Infrastructure/bin/Release/net9.0/Kamervragen.Infrastructure.deps.json
code/Kamervragen.Infrastructure/bin/Release/net9.0/Kamervragen.Infrastructure.dll
code/Kamervragen.Infrastructure/bin/Release/net9.0/Kamervragen.Infrastructure.pdb
code/Kamervragen.Infrastructure/bin/Release/net9.0/Microsoft.Azure.Cosmos.ServiceInterop.dll
code/Kamervragen.Infrastructure/bin/Release/net9.0/msvcp140.dll
code/Kamervragen.Infrastructure/bin/Release/net9.0/vcruntime140_1.dll
code/Kamervragen.Infrastructure/bin/Release/net9.0/vcruntime140.dll
code/Kamervragen.ServiceDefaults/bin/Release/net9.0/Kamervragen.ServiceDefaults.deps.json
code/Kamervragen.ServiceDefaults/bin/Release/net9.0/Kamervragen.ServiceDefaults.dll
code/Kamervragen.ServiceDefaults/bin/Release/net9.0/Kamervragen.ServiceDefaults.pdb
code/Kamervragen.WebApi/Kamervragen.WebApi.csproj
code/Kamervragen.WebApi/bin/Release/net9.0/appsettings.development.json
code/Kamervragen.WebApi/bin/Release/net9.0/appsettings.json
code/Kamervragen.WebApi/bin/Release/net9.0/Azure.AI.OpenAI.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Azure.Core.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Azure.Identity.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Azure.Search.Documents.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Azure.Security.KeyVault.Certificates.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Azure.Security.KeyVault.Secrets.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Azure.Storage.Blobs.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Azure.Storage.Common.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Cosmos.CRTCompat.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Google.Protobuf.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Grpc.Core.Api.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Grpc.Net.Client.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Grpc.Net.Common.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Handlebars.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Handlebars.Net.Helpers.dll
code/Kamervragen.WebApi/bin/Release/net9.0/HandlebarsDotNet.Helpers.Core.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Kamervragen.Domain.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Kamervragen.Domain.pdb
code/Kamervragen.WebApi/bin/Release/net9.0/Kamervragen.Infrastructure.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Kamervragen.Infrastructure.pdb
code/Kamervragen.WebApi/bin/Release/net9.0/Kamervragen.ServiceDefaults.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Kamervragen.ServiceDefaults.pdb
code/Kamervragen.WebApi/bin/Release/net9.0/Kamervragen.WebApi.deps.json
code/Kamervragen.WebApi/bin/Release/net9.0/Kamervragen.WebApi.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Kamervragen.WebApi.exe
code/Kamervragen.WebApi/bin/Release/net9.0/Kamervragen.WebApi.pdb
code/Kamervragen.WebApi/bin/Release/net9.0/Kamervragen.WebApi.runtimeconfig.json
code/Kamervragen.WebApi/bin/Release/net9.0/Kamervragen.WebApi.staticwebassets.endpoints.json
code/Kamervragen.WebApi/bin/Release/net9.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Microsoft.AspNetCore.Authentication.OpenIdConnect.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Microsoft.Azure.Cosmos.Client.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Microsoft.Azure.Cosmos.Core.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Microsoft.Azure.Cosmos.Direct.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Microsoft.Azure.Cosmos.Serialization.HybridRow.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Microsoft.Azure.Cosmos.ServiceInterop.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Microsoft.Bcl.AsyncInterfaces.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Microsoft.Bcl.HashCode.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Microsoft.Extensions.AI.Abstractions.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Microsoft.Extensions.AmbientMetadata.Application.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Microsoft.Extensions.Azure.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Microsoft.Extensions.Compliance.Abstractions.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Microsoft.Extensions.DependencyInjection.AutoActivation.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Microsoft.Extensions.Diagnostics.ExceptionSummarization.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Microsoft.Extensions.Http.Diagnostics.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Microsoft.Extensions.Http.Resilience.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Microsoft.Extensions.Resilience.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Microsoft.Extensions.ServiceDiscovery.Abstractions.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Microsoft.Extensions.ServiceDiscovery.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Microsoft.Extensions.Telemetry.Abstractions.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Microsoft.Extensions.Telemetry.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Microsoft.Extensions.VectorData.Abstractions.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Microsoft.Identity.Abstractions.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Microsoft.Identity.Client.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Microsoft.Identity.Client.Extensions.Msal.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Microsoft.Identity.Web.Certificate.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Microsoft.Identity.Web.Certificateless.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Microsoft.Identity.Web.Diagnostics.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Microsoft.Identity.Web.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Microsoft.Identity.Web.TokenAcquisition.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Microsoft.Identity.Web.TokenCache.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Microsoft.IdentityModel.Abstractions.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Microsoft.IdentityModel.JsonWebTokens.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Microsoft.IdentityModel.Logging.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Microsoft.IdentityModel.LoggingExtensions.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Microsoft.IdentityModel.Protocols.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Microsoft.IdentityModel.Tokens.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Microsoft.IdentityModel.Validators.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Microsoft.IO.RecyclableMemoryStream.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Microsoft.OpenApi.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Microsoft.SemanticKernel.Abstractions.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Microsoft.SemanticKernel.Connectors.AzureAISearch.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Microsoft.SemanticKernel.Connectors.AzureOpenAI.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Microsoft.SemanticKernel.Connectors.OpenAI.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Microsoft.SemanticKernel.Core.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Microsoft.SemanticKernel.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Microsoft.SemanticKernel.PromptTemplates.Handlebars.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Microsoft.Win32.SystemEvents.dll
code/Kamervragen.WebApi/bin/Release/net9.0/msvcp140.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Newtonsoft.Json.dll
code/Kamervragen.WebApi/bin/Release/net9.0/OpenAI.dll
code/Kamervragen.WebApi/bin/Release/net9.0/OpenTelemetry.Api.dll
code/Kamervragen.WebApi/bin/Release/net9.0/OpenTelemetry.Api.ProviderBuilderExtensions.dll
code/Kamervragen.WebApi/bin/Release/net9.0/OpenTelemetry.dll
code/Kamervragen.WebApi/bin/Release/net9.0/OpenTelemetry.Exporter.OpenTelemetryProtocol.dll
code/Kamervragen.WebApi/bin/Release/net9.0/OpenTelemetry.Extensions.Hosting.dll
code/Kamervragen.WebApi/bin/Release/net9.0/OpenTelemetry.Instrumentation.AspNetCore.dll
code/Kamervragen.WebApi/bin/Release/net9.0/OpenTelemetry.Instrumentation.Http.dll
code/Kamervragen.WebApi/bin/Release/net9.0/OpenTelemetry.Instrumentation.Runtime.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Polly.Core.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Polly.Extensions.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Polly.RateLimiting.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Stef.Validation.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Swashbuckle.AspNetCore.Swagger.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Swashbuckle.AspNetCore.SwaggerGen.dll
code/Kamervragen.WebApi/bin/Release/net9.0/Swashbuckle.AspNetCore.SwaggerUI.dll
code/Kamervragen.WebApi/bin/Release/net9.0/System.ClientModel.dll
code/Kamervragen.WebApi/bin/Release/net9.0/System.Configuration.ConfigurationManager.dll
code/Kamervragen.WebApi/bin/Release/net9.0/System.Drawing.Common.dll
code/Kamervragen.WebApi/bin/Release/net9.0/System.IdentityModel.Tokens.Jwt.dll
code/Kamervragen.WebApi/bin/Release/net9.0/System.IO.Hashing.dll
code/Kamervragen.WebApi/bin/Release/net9.0/System.Memory.Data.dll
code/Kamervragen.WebApi/bin/Release/net9.0/System.Numerics.Tensors.dll
code/Kamervragen.WebApi/bin/Release/net9.0/System.Security.Cryptography.ProtectedData.dll
code/Kamervragen.WebApi/bin/Release/net9.0/System.Security.Permissions.dll
code/Kamervragen.WebApi/bin/Release/net9.0/System.Windows.Extensions.dll
code/Kamervragen.WebApi/bin/Release/net9.0/vcruntime140_1.dll
code/Kamervragen.WebApi/bin/Release/net9.0/vcruntime140.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/app.zip
code/Kamervragen.WebApi/bin/Release/net9.0/publish/appsettings.development.json
code/Kamervragen.WebApi/bin/Release/net9.0/publish/appsettings.json
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Azure.AI.OpenAI.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Azure.Core.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Azure.Identity.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Azure.Search.Documents.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Azure.Security.KeyVault.Certificates.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Azure.Security.KeyVault.Secrets.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Azure.Storage.Blobs.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Azure.Storage.Common.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Cosmos.CRTCompat.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Google.Protobuf.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Grpc.Core.Api.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Grpc.Net.Client.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Grpc.Net.Common.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Handlebars.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Handlebars.Net.Helpers.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/HandlebarsDotNet.Helpers.Core.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Kamervragen.Domain.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Kamervragen.Domain.pdb
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Kamervragen.Infrastructure.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Kamervragen.Infrastructure.pdb
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Kamervragen.ServiceDefaults.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Kamervragen.ServiceDefaults.pdb
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Kamervragen.WebApi.deps.json
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Kamervragen.WebApi.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Kamervragen.WebApi.exe
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Kamervragen.WebApi.pdb
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Kamervragen.WebApi.runtimeconfig.json
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Kamervragen.WebApi.staticwebassets.endpoints.json
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Microsoft.AspNetCore.Authentication.JwtBearer.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Microsoft.AspNetCore.Authentication.OpenIdConnect.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Microsoft.Azure.Cosmos.Client.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Microsoft.Azure.Cosmos.Core.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Microsoft.Azure.Cosmos.Direct.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Microsoft.Azure.Cosmos.Serialization.HybridRow.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Microsoft.Azure.Cosmos.ServiceInterop.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Microsoft.Bcl.AsyncInterfaces.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Microsoft.Bcl.HashCode.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Microsoft.Extensions.AI.Abstractions.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Microsoft.Extensions.AmbientMetadata.Application.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Microsoft.Extensions.Azure.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Microsoft.Extensions.Compliance.Abstractions.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Microsoft.Extensions.DependencyInjection.AutoActivation.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Microsoft.Extensions.Diagnostics.ExceptionSummarization.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Microsoft.Extensions.Http.Diagnostics.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Microsoft.Extensions.Http.Resilience.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Microsoft.Extensions.Resilience.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Microsoft.Extensions.ServiceDiscovery.Abstractions.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Microsoft.Extensions.ServiceDiscovery.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Microsoft.Extensions.Telemetry.Abstractions.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Microsoft.Extensions.Telemetry.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Microsoft.Extensions.VectorData.Abstractions.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Microsoft.Identity.Abstractions.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Microsoft.Identity.Client.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Microsoft.Identity.Client.Extensions.Msal.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Microsoft.Identity.Web.Certificate.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Microsoft.Identity.Web.Certificateless.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Microsoft.Identity.Web.Diagnostics.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Microsoft.Identity.Web.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Microsoft.Identity.Web.TokenAcquisition.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Microsoft.Identity.Web.TokenCache.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Microsoft.IdentityModel.Abstractions.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Microsoft.IdentityModel.JsonWebTokens.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Microsoft.IdentityModel.Logging.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Microsoft.IdentityModel.LoggingExtensions.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Microsoft.IdentityModel.Protocols.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Microsoft.IdentityModel.Tokens.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Microsoft.IdentityModel.Validators.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Microsoft.IO.RecyclableMemoryStream.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Microsoft.OpenApi.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Microsoft.SemanticKernel.Abstractions.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Microsoft.SemanticKernel.Connectors.AzureAISearch.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Microsoft.SemanticKernel.Connectors.AzureOpenAI.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Microsoft.SemanticKernel.Connectors.OpenAI.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Microsoft.SemanticKernel.Core.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Microsoft.SemanticKernel.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Microsoft.SemanticKernel.PromptTemplates.Handlebars.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Microsoft.Win32.SystemEvents.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/msvcp140.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Newtonsoft.Json.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/OpenAI.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/OpenTelemetry.Api.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/OpenTelemetry.Api.ProviderBuilderExtensions.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/OpenTelemetry.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/OpenTelemetry.Exporter.OpenTelemetryProtocol.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/OpenTelemetry.Extensions.Hosting.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/OpenTelemetry.Instrumentation.AspNetCore.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/OpenTelemetry.Instrumentation.Http.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/OpenTelemetry.Instrumentation.Runtime.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Polly.Core.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Polly.Extensions.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Polly.RateLimiting.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Stef.Validation.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Swashbuckle.AspNetCore.Swagger.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Swashbuckle.AspNetCore.SwaggerGen.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/Swashbuckle.AspNetCore.SwaggerUI.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/System.ClientModel.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/System.Configuration.ConfigurationManager.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/System.Drawing.Common.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/System.IdentityModel.Tokens.Jwt.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/System.IO.Hashing.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/System.Memory.Data.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/System.Numerics.Tensors.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/System.Security.Cryptography.ProtectedData.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/System.Security.Permissions.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/System.Windows.Extensions.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/vcruntime140_1.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/vcruntime140.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/web.config
code/Kamervragen.WebApi/bin/Release/net9.0/publish/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/runtimes/win/lib/net6.0/System.Drawing.Common.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/runtimes/win-x64/native/Cosmos.CRTCompat.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/runtimes/win-x64/native/Microsoft.Azure.Cosmos.ServiceInterop.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/runtimes/win-x64/native/msvcp140.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/runtimes/win-x64/native/vcruntime140_1.dll
code/Kamervragen.WebApi/bin/Release/net9.0/publish/runtimes/win-x64/native/vcruntime140.dll
code/Kamervragen.WebApi/bin/Release/net9.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
code/Kamervragen.WebApi/bin/Release/net9.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
code/Kamervragen.WebApi/bin/Release/net9.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
code/Kamervragen.WebApi/bin/Release/net9.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
code/Kamervragen.WebApi/bin/Release/net9.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
code/Kamervragen.WebApi/bin/Release/net9.0/runtimes/win-x64/native/Cosmos.CRTCompat.dll
code/Kamervragen.WebApi/bin/Release/net9.0/runtimes/win-x64/native/Microsoft.Azure.Cosmos.ServiceInterop.dll
code/Kamervragen.WebApi/bin/Release/net9.0/runtimes/win-x64/native/msvcp140.dll
code/Kamervragen.WebApi/bin/Release/net9.0/runtimes/win-x64/native/vcruntime140_1.dll
code/Kamervragen.WebApi/bin/Release/net9.0/runtimes/win-x64/native/vcruntime140.dll
code/Kamervragen.Domain/bin/Release/net9.0/Kamervragen.Domain.deps.json
code/Kamervragen.Domain/bin/Release/net9.0/Kamervragen.Domain.dll
code/Kamervragen.Domain/bin/Release/net9.0/Kamervragen.Domain.pdb
code/Kamervragen.Frontend/obj/Release/Kamervragen.Frontend.esproj.CoreCompileInputs.cache
code/Kamervragen.Frontend/obj/Release/Kamervragen.Frontend.esproj.FileListAbsolute.txt
/code/Kamervragen.ConsoleApp/bin/Release/net9.0
/code/Kamervragen.Frontend/obj/Release
